{% extends 'base.html' %}

{% block content %}

<span class="border border-secondary">
    <div class="mx-auto" style="width: 500px;">
  <h1>About</h1>
    <p class="font-weight-normal">I made this website so that I can help fellow MCAT & DAT test takers by providing a library that contains
    resources that have been valued by other test takers based on their responses on Reddit and their score. When I
        first took the MCAT, I didn't know what resources would be helpful to have, and that wasted precious time that
        could've been spent studying or doing something useful.</p>
    <p class="font-weight-normal">As well, I wanted to learn coding, so I thought why not
        make a website rather just post an Excel file containing the different resources onto Reddit. I hope I have
    been some help to you fellow test takers. </p>
    <p class="font-weight-normal">If you think I missed a valuable resource that should be added,
    I have left a link to my Reddit post where you can leave a comment with the resource's name and link so that I can add
    it to the list.</p>
    <p class="font-weight-normal">Enjoy :)</p>
    <div>
        <a class="btn btn-primary" href="https://www.reddit.com/r/Mcat/comments/1cmn0ay/created_a_website_containing_links_for_mcat/" role="button">MCAT subreddit post</a>
        <a class="btn btn-info" href="https://www.reddit.com/r/dat/comments/1cmn07h/created_a_website_containing_links_for_dat/" role="button">DAT subreddit post</a>
    </div>
</div>
</span>


{% endblock %}